In [1]:
x = [1,2,3,3,5]
y = [5,6,3,1,5]

print(x)
print(y)

[1, 2, 3, 3, 5]
[5, 6, 3, 1, 5]

In [4]:
class super_list(list):
    def sum(self):
        return sum(self)
    
    def mean(self):
        return sum(self)/len(self)
    
    def size(self):
        return len(self)

In [6]:
x = super_list([1,2,3,3,5])
y = super_list([5,6,3,1,5])
print(x.mean())
print(y.mean())
print(x.size())
print(y.size())
print(x.sum())
print(y.sum())
x.append(10)
y.append(20)
print(x.sum())
print(x.mean())
print(x.size())

2.8
4.0
5
5
14
20
24
4.0
6

In [7]:
from dataclasses import dataclass

@dataclass
class ProductV2:
    id:int
    name:str
    price:float
    brand:str
    category:str
    description:str
    stock:int
    rating:float

In [8]:
p2 = ProductV2(1, 'iPhone', 100000, 'Apple', 'Electronics', 'iPhone 12', 100, 4.5)
p2

ProductV2(id=1, name='iPhone', price=100000, brand='Apple', category='Electronics', description='iPhone 12', stock=100, rating=4.5)