Basic Data Structure

1. List ðŸ‘‘
2. Tuple
3. Set
4. Dictionary ðŸ‘‘

List properties
- is ordered (sequence)
- indexed
- mutable (changable)
- allow duplicate values
- Heterogeneous (different types of data)
- List is denoted by square brackets '[ ]'
- An iterable can be converted to list using list() function

What to learn?
- Creating
- Indexing/slicing
- Modifying
- Methods

In [39]:
x = [1,2,3,4,5,6]
names = ['Anshu','Abhishek','Divyanshi','Madhu']
mixeds = ['Potato',10,'Tomato',20,'Onion',30]

In [2]:
name = 'Shikhar'
list(name)

['S', 'h', 'i', 'k', 'h', 'a', 'r']

In [4]:
a = [1] # Single element list
a*10 # duplicate the list

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [5]:
data = 'Can i take the class @Shikhar_Awasthi'
words = data.split()
print(words)

['Can', 'i', 'take', 'the', 'class', '@Shikhar_Awasthi']

In [6]:
words[0]

'Can'

In [7]:
words[-1]

'@Shikhar_Awasthi'

In [8]:
words[1] = 'you'
words[2] = 'please'
words[3] = 'take'
words[4] = 'the'
words[5] = 'class'
words

['Can', 'you', 'please', 'take', 'the', 'class']

In [10]:
x = [11,22,33,44,55,66,77,88,99]
print(x[:3]) # first 3 elements
print(x[-3:]) # last 3 elements
print(x[:100]) # first 100 elements if available
print(x[::-1]) # reverse the list

[11, 22, 33]
[77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [11]:
for name in names:
    print(name)

Anshu
Abhishek
Divyanshi
Madhu

In [12]:
for num in x:
    print(num)

11
22
33
44
55
66
77
88
99

In [13]:
# reverse iteration
for num in x[::-1]:
    print(num)

99
88
77
66
55
44
33
22
11

In [14]:
# only first 5 elements of the list in the loop
for i in x[:5]:
    print(i)

11
22
33
44
55

Don't update the list while iterating over it

list has 11 methods

In [15]:
x.append(111)

In [17]:
x

[11, 22, 33, 44, 55, 66, 77, 88, 99, 111]

In [19]:
x.insert(3,40)
print(x)

[11, 22, 33, 40, 40, 44, 55, 66, 77, 88, 99, 111]

In [20]:
y = [21,31,41,51,61,71,81,91]

In [21]:
x + y # concatenation of lists

[11,
 22,
 33,
 40,
 40,
 44,
 55,
 66,
 77,
 88,
 99,
 111,
 21,
 31,
 41,
 51,
 61,
 71,
 81,
 91]

In [22]:
x.extend(y) # extend the list
print(x)
print(y)

[11, 22, 33, 40, 40, 44, 55, 66, 77, 88, 99, 111, 21, 31, 41, 51, 61, 71, 81, 91]
[21, 31, 41, 51, 61, 71, 81, 91]

In [23]:
x.clear()
print(x)

[]

In [40]:
names.remove('Madhu')

In [42]:
names.remove('Anshu')

In [43]:
names

['Abhishek', 'Divyanshi']

In [35]:
words

['Can', 'you', 'please', 'take', 'the', 'class']

In [36]:
words.pop(2)

'please'

In [37]:
words

['Can', 'you', 'take', 'the', 'class']

In [38]:
words.pop(-2)
print(words)

['Can', 'you', 'take', 'class']